<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8"/>
    <title>EmpMgr 2.0 ReactJS + Spring Data Rest + MongoDB</title>
    <link rel="stylesheet" href="/main.css" />
    <script src="https://use.fontawesome.com/c42b387e2c.js"></script>

</head>
<body>

<div class="_rx21p86" style="background-color: transparent;">
    <div style="margin-top: 40px;">
        <div class="_1wiphu0q">
            <h1 class="logoWrapper">
                <span class="logo">EmpMgr 2.0 </span>
                <div>Experience a new way of managing employees with ReactJS, Spring Boot and MongoDB.</div>
            </h1>
        </div>
    </div>
</div>
<div class="_ovebx1" style="background-color: transparent; min-height: 400px;">
    <div id="react"></div>
</div>

<script src="built/bundle.js"></script>

</body>
</html>